# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment & Secrets
.env
.env.*
!.env.example
*.keystore
*.jks
*.p12
*.pem
key.properties

# IDE & Editor files
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android build artifacts & configs
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build/
/android/app/app.iml
/android/captures/
/android/local.properties
/android/app/local.properties

# iOS build artifacts
/ios/Runner.xcworkspace/
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# macOS / Windows / Linux ephemeral files
/macOS/Flutter/ephemeral/
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Executables & App Bundles
*.apk
*.aab
*.ipa
